<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_3SDcGc_6kI-a2fMzxQkMxpDfDzQ6J1c</string>
	<key>GCM_SENDER_ID</key>
	<string>813257883531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.my.Auth-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>swiftuiauth-d1d72</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiauth-d1d72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813257883531:ios:542f947e822bb3f8de798e</string>
</dict>
</plist>